<html>
    <head>
        <title ></title>
        <link rel="stylesheet" href="../assests/css/index.css">
    </head>
    <body>
        <div class="name" id="name"></div>
        <div class="hero-container">
            <div class="hero-image" >

                <img src="" alt="" id="avatar">
            </div>
            <div class="hero-details">
                

                <div class="hero-attribute" id="powerstats">
                <h2>PowerStats</h2>    
                
                </div>
                <div class="hero-attribute" id="Biography">
                    <h2>Biography</h2>
                </div>
            </div>
        </div>
        <script src="../assests/js/HeroPage.js"></script>
    </body>
</html>