<html>
    <head>
        <title>Super Heroes</title>
        <link rel="stylesheet" href="../assests/css/index.css">
    </head>
    <body>
        <noscript>Enable javascript to work</noscript>
        <div id="enable-cookie"></div>
        <div class="searchBox" id="searchBox">
        <input type="text" placeholder="search a super hero name" id ="search">
        <div class="list" id="searchList">
            
        </div>
        </div>
        <div class="favs">
            <button id="favourite-heros"> Favourites </button>
            <div class="searchList" id="favourite">

            </div>
        </div>   
        <script src="../assests/js/index.js"></script>
    </body>
</html>